@page "/EditProducts"
@using Labb2HingelWebb.Shared.DTOs
@using Microsoft.AspNetCore.Authorization
@using Labb2HingelWebb.Shared
@inject HttpClient HttpClient
@attribute [Authorize]

<h3>EditProducts</h3>

@*<button class="btn btn-primary">NewProduct</button>*@
<div>
	<button class="btn btn-primary" @onclick="DeleteProduct">Delete Selected Product</button>
	<p>@ResponseMessage</p>
</div>


<div class="container">
	<EditForm Model="ActiveProductDto" OnSubmit="UpdateProduct">
		<div class="form-control">
			<label>Name</label>
			<InputText @bind-Value="ActiveProductDto.ProductName"></InputText>
			<label>Description</label>
			<InputText @bind-Value="ActiveProductDto.ProductDescription"></InputText>
			@*<label>Type 1=Rock; 2=Stick; 3=Dirt; 4=None;s </label>
			<InputNumber @bind-Value="ActiveProductDto.ProductType"></InputNumber>*@
			<label>IsActive</label>
			<InputCheckbox @bind-Value="ActiveProductDto.IsActive"></InputCheckbox>
			<label>Price</label>
			<InputNumber @bind-Value="ActiveProductDto.Price"></InputNumber>
		</div>
		<button class="btn btn-primary">Send</button>
	</EditForm>
</div>

<div class="container">
	<EditForm Model="SearchResult" OnSubmit="FilterResults">
	<div class="form-control">
		<label>Enter search word</label>
		<InputText @bind-Value="SearchWord"></InputText>
		<label>Enter number of returns</label>
		<InputNumber @bind-Value="NoOfResults"></InputNumber>
		<label>Enter category</label>
	</div>
	<button class="btn btn-primary">search</button>
	</EditForm>
</div>
<br/>

<h3>Existing Products</h3>
<ul class="container">
	<Virtualize Items="SearchResult" Context="productDto">
		<li class="list-group">
			<div @onclick="() => SelectProduct(productDto)">
				@productDto.ProductName @productDto.Price
			</div>
		</li>
	</Virtualize>
</ul>


@code {

	public StoreProductDto ActiveProductDto { get; set; } = new StoreProductDto();
	public List<StoreProductDto> StoreProductDtos { get; set; } = new();
	public List<StoreProductDto> SearchResult { get; set; } = new();
	public string SearchWord { get; set; } = "";
	public string ResponseMessage { get; set; } = "";

	public int NoOfResults { get; set; } = 5;

	//ToDO: Lägga till kategori sökning:
	

	protected override async Task OnInitializedAsync()
	{
		await GetProducts();

		await base.OnInitializedAsync();
	}

	private async Task GetProducts()
	{
		var response = await HttpClient.GetFromJsonAsync<ServiceResponse<StoreProductDto[]>>(HttpClient.BaseAddress + "allProducts");

		if (response.Success)
		{
			StoreProductDtos = response.Data.ToList();
			FilterResults();
			ResponseMessage = response.Message;
		}
		else
		{
			ResponseMessage = response.Message;
		}
	}

	private void FilterResults()
	{
		if (SearchWord != "")
		{
			SearchResult = StoreProductDtos.Where(p => p.ProductName.ToLower().Contains(SearchWord.ToLower())).Take(NoOfResults).ToList();
		}

		else
		{
			SearchResult = StoreProductDtos.Take(NoOfResults).ToList();
		}

		//ToDO: Lägga till Typsökning också.
	}

	//Den selekterade produkten i listan
	private void SelectProduct(StoreProductDto selectedProductDto)
	{
		ActiveProductDto = selectedProductDto;
	}

	//När produkten ska uppdateras eller läggas till ny.
	private async Task UpdateProduct()
	{
		var response = await HttpClient.PostAsJsonAsync(HttpClient.BaseAddress + "addStoreProduct", ActiveProductDto);
		var result = await response.Content.ReadFromJsonAsync<ServiceResponse<string>>();

		if (result.Success)
		{
			ResponseMessage = result.Message;
			await GetProducts();
		}
	}

	private async Task DeleteProduct()
	{
		if(ActiveProductDto == null)
			return;

		var response = await HttpClient.DeleteAsync(HttpClient.BaseAddress + $"deleteProduct/{ActiveProductDto.ProductName}");
		var result = await response.Content.ReadFromJsonAsync<ServiceResponse<string>>();

		if (result.Success)
		{
			ResponseMessage = result.Message;
			await GetProducts();
		}

	}
}